{{- define "title" -}}
  {{- .Title -}}
{{- end -}}

{{- define "description" -}}
  {{- .Description -}}
{{- end -}}

{{- define "thumbnail" -}}
  {{- $thumbnail := .Resources.GetMatch "thumbnail.png" -}}
  {{- if $thumbnail -}}
    {{- $resized_thumbnail := $thumbnail.Resize (.Site.Params.thumbnailogsize | default "200x200") -}}
    {{- $resized_thumbnail.RelPermalink | absURL -}}
  {{- end -}}
{{- end -}}

{{- define "main"}}
  <div class="info">
    {{- if .Site.Params.showAuthors -}}
      {{- partial "authors" . }}
      &#47;
    {{- end }}

    <time>{{- .Date.Format (.Site.Params.dateformat | default "January 02, 2006") -}}</time>

    &mdash;
    {{ partial "tags" . -}}
  </div>

  <div class="main-content">
    {{- .Content -}}
  </div>

  {{ partial "related_posts" . }}
{{- end -}}
