<div class="post-summary">
  <div class="summary-thumbnail">
    <a href="{{- .RelPermalink -}}">{{- partial "thumbnail" . -}}</a>
  </div>
  <div class="summary-body">
    <a class="summary-title" href="{{- .RelPermalink -}}">{{- emojify .Title -}}</a></b>
    {{- if .Site.Params.showAuthors }}
      &mdash; <span class="summary-authors">{{- partial "authors" . }}</span>
    {{- end }}
    <div class="summary-description">{{- emojify .Description -}}</div>
    <div class="summary-info">
      <time class="summary-date">{{- .Date.Format (.Site.Params.dateformat | default "January 02, 2006") -}}</time>
      {{ partial "tags" . -}}
      {{ partial "related_games" . -}}
    </div>
  </div>
</div>
