$background: url(/images/navbar.png) #16171a
$content-background: #16171a
$primary-color: #fafdff
$secondary-color: #ff2674
$accent-color: #ff80a4
$navbar-color: #fff
$navbar-secondary-color: $accent-color
$navbar-background: #000
$sidebar-color: $primary-color
$footer-color: $navbar-color
$footer-secondary-color: $secondary-color
$footer-accent-color: $accent-color
$footer-background: $navbar-background
$navbar-mobile-background: $navbar-background
$mobile-menu-backdrop-background: rgba(0, 0, 0, .8)
$content-shadow: #000
$image-border-color: #000
$page-width: 1200px
$title-font: Oxygen
$body-font: Oxygen
$code-font: Oxygen mono

@font-face
  font:
    display: swap
    family: 'Oxygen'
    style: normal
    weight: 400
  src: url('/fonts/oxygen.ttf') format('truetype')

@font-face
  font:
    display: swap
    family: 'Oxygen mono'
    style: normal
    weight: 400
  src: url('/fonts/oxygen_mono.ttf') format('truetype')


body
  background: $background
  color: $primary-color
  font:
    family: $body-font
    size: 1rem
    weight: 400
  margin: 0


a
  color: $secondary-color
  text-decoration: none
  transition: color .2s ease-in-out
  outline: none

  &:hover
    color: $accent-color


  img
    border: 1px solid $image-border-color
    transition: border-color .2s ease-in-out

    &:hover
      border-color: $accent-color


h1, h2, h3, h4, h5, h6
  font:
    family: $title-font
    weight: 400


ul
  list-style: disclosure-closed


.highlight
  pre
    border: 1px solid $image-border-color
      radius: 5px
    padding: 1rem
    white-space: pre-wrap
  code
    font:
      family: $code-font
      size: .75rem


.header
  background: $navbar-background
  color: $primary-color
  padding: 1rem 0

  .navbar
    max-width: $page-width
    margin: auto

    .navbar-title
      font:
        family: $title-font
        size: 2rem

      a
        color: $navbar-color

        &:hover
          color: $navbar-secondary-color

        size: 2rem

    .navbar-links
      font:
        family: $title-font
        size: 1.2rem

      margin: 0

      li
        list-style: none

      a
        color: $navbar-color

        &:hover
          color: $navbar-secondary-color

        &:not(:last-of-type)
          margin-right: 2rem

.banner
  width: 100%
  text-align: center

  img
    border-radius: 10px 10px 0 0
    width: 100%

  .main-section
    margin: 0
      bottom: 1rem


  .main-title
    font:
      size: 3rem
    margin: 0
      bottom: 1.5rem


  .main-content
    margin: 4rem 0


.main
  font:
    size: 1rem
  text-rendering: optimizeLegibility;

  p, h1, h2, h3, h4, h6
    &:first-child
      margin-top: 0

  p
    &:first-of-type
      margin-top: 0

  iframe
    border: 1px solid $image-border-color
      radius: 5px

  img
    border:
      radius: 5px
    max-width: 100%

  .info
    margin-bottom: 3rem

  .pagination
    font:
      family: $code-font
      size: 1.2rem
    text-align: center

    a, span
      margin-right: 1rem

.secondary
  color: $sidebar-color
  overflow-wrap: break-down

  .title
    margin: 0
      bottom: 1rem

  ul
    padding: 0

    li
      list-style: none

      &:not(:last-of-type)
        margin-bottom: 0.5rem

    &:not(:last-of-type)
      margin-bottom: 2rem

.index-section
  margin-bottom: 2rem

  .index-section-title
    margin-top: 0

    a
      color: $primary-color

      &:hover
        color: $accent-color


.post-summary
  display: grid
  grid-template-columns: 80px auto
  grid-gap: 0 1rem


.post-summary, .post-summary-tiny

  .summary-body
    margin-left: 1rem

    .summary-title
      font:
        family: $title-font
        size: 1.2rem


.footer
  color: $footer-color
  margin: auto
  padding: 2rem
  max-width: $page-width
  text-align: center

  a
    color: $footer-secondary-color

    &:hover
      color: $footer-accent-color

  ul.social-networks
    margin: 0
      bottom: 2rem
    font-size: 3rem

    li
      display: inline-block
      list-style: none
      margin: 0 1rem


  .document-updated-at
    display: none
    font-style: italic
    margin-bottom: 1rem


.clear
  &::after
    clear: both
    content: ''
    display: table


.grid-container
  display: grid
  grid-template-columns: auto
  padding: 3rem


.content
  background: $content-background
  border-radius: 10px
  box-shadow: 0 0 2rem $content-shadow
  margin: 0 auto
  max-width: $page-width


.menu-backdrop
  display: none


@media (max-width: $page-width)
  .header
    background: $navbar-background
    position: fixed
    top: 0
    width: 100%

    .navbar
      align-items: center
      display: grid
      grid-template-columns: auto

      .navbar-title
        text-align: center

        .navbar-logo
          margin: 0 auto

      .navbar-links
        text-align: left

  .content
    margin-top: 4rem

  .grid-container
    padding: 2rem

  .post-summary, .post-summary-tiny
    margin-bottom: 2rem


  .footer

    ul.social-networks
      font-size: 2rem

      li
        margin: 0.5rem


  .open-mobile-menu-container
    position: absolute
    left: 2rem
    top: 1rem

  #open-mobile-menu
    opacity: 1
    color: $navbar-color
    text-align: right
    font-size: 1.5rem

    &:hover
      color: $accent-color

  #open-mobile-menu:target
    opacity: 0


  .menu-backdrop
    background: $mobile-menu-backdrop-background
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 1000

  .navbar-links:target + .menu-backdrop
    display: block


  .navbar-links
    transition: left .5s
    position: fixed
    z-index: 1001
    background: $navbar-mobile-background
    width: 200px
    margin: 0
    padding: 2rem
    top: 0
    height: 100%
    box-shadow: 5px 0px 10px black

    li
      padding-bottom: 1rem

  .navbar-links:not(:target)
    left: -350px

  .navbar-links:target
    left: 0


.related-posts
  margin-top: 3rem


// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px)

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px)

// Large devices (desktops, 992px and up)
// @media (min-width: 992px)

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $page-width)
  .header
    background: transparent
    .open-mobile-menu-container
      display: none


    .navbar
      align-items: center
      display: grid
      grid-template-columns: auto auto


      .navbar-title
        margin-bottom: 0rem
        text-align: left

      .navbar-links
        text-align: right

        li
          &:first-of-type
            display: none

          display: inline-block
          padding-left: 2rem

  .main
    margin-right: 2rem
    padding-right: 2rem

  .grid-container
    grid-template-columns: 75% 25%

    .grid-full-column
      grid-column: 1 / span 2


  .post-summary
    display: grid
    grid-template-columns: auto 90%
    grid-gap: 0 1rem

    &:not(:last-of-type)
      margin-bottom: 2rem


  .footer
    .document-updated-at
      display: block
