{{- define "title" -}}
  {{- emojify .Title -}}
{{- end -}}

{{- define "description" -}}
  {{- emojify .Description -}}
{{- end -}}

{{- define "thumbnail" -}}
  {{- partial "ogthumbnail" . -}}
{{- end -}}

{{- define "main"}}
  <div class="info">
    {{- if .Site.Params.showAuthors -}}
      {{- partial "authors" . }}
      &#47;
    {{- end }}

    <time>{{- .Date.Format (.Site.Params.dateformat | default "January 02, 2006") -}}</time>
    {{ partial "tags" . -}}
    {{ partial "related_games" . -}}
  </div>

  <div class="main-content">
    {{- .Content -}}
  </div>


  {{ partial "games" . }}
  {{ partial "related_posts" . }}
{{- end -}}
