{{- define "title" -}}
  {{- emojify .Title -}}
{{- end -}}

{{- define "description" -}}
  {{- emojify .Description -}}
{{- end -}}

{{- define "thumbnail" -}}
  {{- $thumbnail := .Resources.GetMatch "thumbnail.png" -}}
  {{- if $thumbnail -}}
    {{- $resized_thumbnail := $thumbnail.Resize (.Site.Params.thumbnailogsize | default "200x200") -}}
    {{- $resized_thumbnail.RelPermalink | absURL -}}
  {{- end -}}
{{- end -}}

{{- define "main"}}
  <div class="info">
    {{- if .Site.Params.showAuthors -}}
      {{- partial "authors" . }}
      &#47;
    {{- end }}

    <time>{{- .Date.Format (.Site.Params.dateformat | default "January 02, 2006") -}}</time>

    &mdash;
    {{ partial "tags" . -}}
  </div>

  <div class="main-content">
    {{- .Content -}}
  </div>

  {{- $games := .Params.Games -}}
  {{- if $games -}}
    <div class="games">
      {{- range .Site.Params.games -}}
        {{- if in $games .id -}}
          <div class="game-summary">
            <div class="game-summary-thumbnail">
              {{- if .url -}}
                <a href="{{- .url -}}">
                  <img src="{{- .thumbnail -}}">
                </a>
              {{- else -}}
                <img src="{{- .thumbnail -}}">
              {{- end -}}
            </div>
            <div class="game-summary-body">
              {{- if .url -}}
                <a class="game-title" href="{{- .url -}}">{{ .name -}}</a>
              {{- else -}}
                <span class="game-title">{{ .name -}}</span>
              {{- end -}}
              <div>
                {{ .description }}
              </div>
              <div class="game-info">
                {{ .genre }}
                &mdash;
                {{- range .platforms -}}
                  <span class="platform">
                      {{ . -}}
                  </span>
                {{- end -}}
              </div>
            </div>
          </div>
        {{- end -}}
      {{- end -}}
    </div>
  {{- end -}}

  {{ partial "related_posts" . }}
{{- end -}}
